/*------------------------Color Styles --*/
/*head*/
/*search*/
/*icons-text*/
/*------------------------Border Styles --*/
/*------------------------Margin Styles --*/
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 1.4;
}
.tophead {
  width: 100%;
  height: 48px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}
.tophead .head-wrap {
  width: 980px;
  height: 40px;
  padding: 8px 10px 0 10px;
  margin: 0 auto 0 auto;
}
.tophead .head-wrap .logo {
  float: left;
}
.tophead .head-wrap .search {
  margin-left: 10px;
  float: left;
}
.tophead .head-wrap form {
  width: 350px;
}
.tophead .head-wrap .search-field {
  padding: 4px 0 6px 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 15px;
  border-radius: 3px;
  color: #a9a9a9;
  font-size: .9em;
}
.tophead .nav {
  float: left;
}
.tophead .top-menu {
  font-size: 1em;
  font-weight: bold;
  color: #333333;
  list-style-type: none;
  margin: 0 0 0 10px;
  padding-top: 5px;
}
.tophead .top-menu li {
  display: inline;
  margin: 0 5px 0 5px;
}
.wrapper {
  width: 1000px;
  height: 900px;
  /*temp*/
  margin: 0 auto 0 auto;
}
.wrapper aside {
  width: 230px;
  padding: 15px 10px 10px 10px;
  height: 900px;
  /*temp*/
  float: left;
}
.wrapper aside img {
  width: 230px;
  height: 230px;
  border-radius: 6px;
}
.wrapper .main {
  width: 728px;
  padding: 15px 10px 0 10px;
  height: 900px;
  /*temp*/
  float: left;
}
/*----------------------------Tab Menu----*/
article.tabs {
  position: relative;
  display: block;
  width: 40em;
  height: 15em;
  margin: 0px;
  font-size: 1.1em;
}
article.tabs section {
  position: absolute;
  display: block;
  top: 35px;
  left: 0;
  width: 720px;
  height: 800px;
  padding: 0;
  z-index: 0;
  border: none;
}
article.tabs section:first-child {
  z-index: 1;
}
article.tabs section h2 {
  position: absolute;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  width: 130px;
  height: 2em;
  top: -2.3em;
  left: 0;
  padding-top: 3px;
  margin: 0;
  color: #666666;
}
article.tabs section:nth-child(2) h2 {
  left: 135px;
}
article.tabs section:nth-child(3) h2 {
  left: 274px;
}
article.tabs section h2 a {
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}
article.tabs section:target {
  color: #333;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
}
article.tabs section:target h2 {
  color: #333;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-radius: 2px;
}
.icon-space {
  margin-right: 5px;
}
/*----------------------------Tab Search----*/
.tab-search {
  padding: 13px 0 0 0;
  border-bottom: 1px solid #cccccc;
  height: 48px;
}
.tab-search .tab-search-box {
  float: left;
  width: 350px;
}
.tab-search .tab-search-box form .tab-search-field {
  float: left;
  padding: 4px 0 6px 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 25px;
  border-radius: 3px;
  color: #a9a9a9;
  font-size: .9em;
  box-shadow: inset 0px 0px 2px rgba(3, 3, 3, 0.2);
  -webkit-box-shadow: inset 0px 0px 2px rgba(3, 3, 3, 0.2);
  -moz-box-shadow: inset 0px 0px 2px rgba(3, 3, 3, 0.2);
}
.tab-search .tab-search-box form .submit {
  float: right;
  height: 37px;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  color: #333333;
  font-size: .9em;
  font-weight: bold;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  background: -webkit-linear-gradient(#ffffff, #f0f0f0);
  background: -o-linear-gradient(#ffffff, #f0f0f0);
  background: -moz-linear-gradient(#ffffff, #f0f0f0);
  background: linear-gradient(#ffffff, #f0f0f0);
}
/*----------------------------Repo Template----*/
.repo-tab {
  height: 130px;
  display: block;
  border-bottom: 1px solid #cccccc;
}
.repo-tab .repo-tab-left {
  float: left;
}
.repo-tab .repo-tab-left h3 {
  color: #4484c2;
  font-size: 1.5em;
  padding: 0;
  margin: 25px 0 10px 0;
}
.repo-tab .repo-tab-left h4 {
  color: #666666;
  font-weight: normal;
  font-size: 1em;
  margin: 0 0 10px 0;
  padding: 0;
}
.repo-tab .repo-tab-left h5 {
  color: #888888;
  font-weight: normal;
  font-size: .9em;
  margin: 0;
  padding: 0;
}
.repo-tab .repo-tab-right {
  float: right;
  color: #888888;
  font-weight: bold;
  font-size: .8em;
}
.repo-tab .repo-tab-right .repo-icons {
  margin: 25px 0 0 0;
  padding: 0;
}
.repo-tab .repo-tab-right .repo-icons li {
  display: inline;
  margin-left: 10px;
}
