/*------------------------Color Styles --*/
/*------------------------Border Styles --*/
body {
  margin: 0;
  padding: 0;
  font-style: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 1.4;
}
