/*------------------------Color Styles --*/
/*head*/
/*search*/
/*icons-text*/
/*------------------------Border Styles --*/
/*------------------------Margin Styles --*/
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 1.4;
}
.tophead {
  width: 100%;
  height: 48px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  /*end head wrap*/
}
.tophead .head-wrap {
  width: 980px;
  height: 40px;
  padding: 8px 8px 0 8px;
  margin: 0 auto 0 auto;
  /*end top left*/
  /*end top right menu*/
}
.tophead .head-wrap .top-left-menu {
  float: left;
  width: 625px;
}
.tophead .head-wrap .top-left-menu .octicon-mark-github {
  font-size: 28px;
  color: #333333;
}
.tophead .head-wrap .top-left-menu .octicon-mark-github:hover {
  color: #4484c2;
}
.tophead .head-wrap .top-left-menu .logo {
  float: left;
}
.tophead .head-wrap .top-left-menu .search {
  margin-left: 10px;
  float: left;
}
.tophead .head-wrap .top-left-menu .search-field {
  padding: 4px 0 6px 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 15px;
  border-radius: 3px;
  color: #a9a9a9;
  font-size: .9em;
}
.tophead .head-wrap .top-left-menu nav {
  float: left;
  margin: 0;
}
.tophead .head-wrap .top-left-menu nav .top-menu {
  font-size: 1em;
  font-weight: bold;
  list-style-type: none;
  margin: 0 0 0 -25px;
  padding-top: 5px;
  color: #333333;
}
.tophead .head-wrap .top-left-menu nav .top-menu a:link,
.tophead .head-wrap .top-left-menu nav .top-menu a:visited {
  color: #333333;
  text-decoration: none;
}
.tophead .head-wrap .top-left-menu nav .top-menu a:hover {
  color: #4484c2;
  text-decoration: none;
}
.tophead .head-wrap .top-left-menu nav .top-menu li {
  display: inline;
  margin: 0 5px 0 5px;
}
.tophead .head-wrap .top-right-menu {
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 2em;
}
.tophead .head-wrap .top-right-menu h5 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 1em;
}
.tophead .head-wrap .top-right-menu img {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  float: left;
  margin-right: 5px;
}
.tophead .head-wrap .top-right-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tophead .head-wrap .top-right-menu ul li {
  display: inline;
  margin-right: 13px;
}
.tophead .head-wrap .top-right-menu ul li a:link,
.tophead .head-wrap .top-right-menu ul li a:visited {
  color: #333333;
  text-decoration: none;
}
.tophead .head-wrap .top-right-menu ul li a:hover {
  color: #4484c2;
  text-decoration: none;
}
.tophead .head-wrap .top-right-menu ul li .octicon-plus {
  font-size: 18px;
}
.tophead .head-wrap .top-right-menu ul li .octicon-triangle-down {
  font-size: 12px;
}
.tophead .head-wrap .top-right-menu ul li .octicon-inbox {
  font-size: 19px;
}
/*end top head*/
.wrapper {
  width: 1000px;
  height: 900px;
  /*temp*/
  margin: 0 auto 0 auto;
  clear: both;
}
.wrapper aside {
  width: 230px;
  padding: 15px 10px 10px 10px;
  height: 900px;
  /*temp*/
  float: left;
}
.wrapper aside .user {
  line-height: 1.2;
}
.wrapper aside .user span img {
  width: 230px;
  height: 230px;
  border-radius: 6px;
}
.wrapper aside .user h1 {
  font-size: 2em;
  color: #333333;
  margin: 0;
  padding: 0;
}
.wrapper aside .user h3 {
  font-size: 1.6em;
  color: #666666;
  font-weight: lighter;
  margin: 0px;
  padding-bottom: 20px;
}
.wrapper aside .user-details {
  font-size: 1.1em;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #eeeeee;
}
.wrapper aside .user-details ul {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style-type: none;
}
.wrapper aside .user-details ul li {
  margin-bottom: 5px;
}
.wrapper aside .user-details ul span {
  color: #dddddd;
  margin-right: 5px;
  text-align: center;
}
.wrapper aside .stats {
  color: #888888;
  font-size: .9em;
  text-align: center;
  line-height: 1;
  border-bottom: 1px solid #eeeeee;
  height: 65px;
}
.wrapper aside .stats ul {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
}
.wrapper aside .stats ul li {
  display: inline;
  float: left;
  margin: 0 15px;
}
.wrapper aside .stats ul li span {
  color: #4484c2;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.wrapper aside .stats ul li p {
  margin: 0;
  padding: 0;
}
.wrapper aside .orgs h2 {
  color: #333333;
  font-size: 1.3em;
}
.wrapper aside .orgs span img {
  height: 42px;
  width: auto;
}
.wrapper .main {
  width: 728px;
  padding: 15px 10px 0 10px;
  height: 900px;
  /*temp*/
  float: left;
}
/*----------------------------Tab Menu----*/
article.tabs {
  position: relative;
  display: block;
  width: 720px;
  height: 100px;
  margin: 0px;
  font-size: 1.1em;
}
article.tabs .profile {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  padding: 0px 10px 3px 10px;
  border: 1px solid #cccccc;
  color: #333333;
  font-size: .9em;
  font-weight: bold;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  background: -webkit-linear-gradient(#ffffff, #f0f0f0);
  background: -o-linear-gradient(#ffffff, #f0f0f0);
  background: -moz-linear-gradient(#ffffff, #f0f0f0);
  background: linear-gradient(#ffffff, #f0f0f0);
}
article.tabs section {
  position: absolute;
  display: block;
  top: 35px;
  left: 0;
  width: 720px;
  height: 800px;
  padding: 0;
  z-index: 0;
  border: none;
}
article.tabs section:first-child {
  z-index: 1;
}
article.tabs section h2 {
  position: absolute;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  width: 115px;
  height: 2em;
  top: -2.3em;
  left: 0;
  padding-top: 3px;
  margin: 0;
  color: #666666;
}
article.tabs section:nth-child(2) h2 {
  left: 135px;
}
article.tabs section:nth-child(3) h2 {
  left: 274px;
}
article.tabs section h2 a {
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}
article.tabs section:target {
  color: #333;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #dddddd;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
}
article.tabs section:target h2 {
  color: #333;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #dddddd;
  border-bottom: none;
  border-radius: 2px;
}
.icon-space {
  margin-right: 5px;
}
/*----------------------------Tab Search----*/
.tab-search {
  float: left;
  padding: 13px 0 0 0;
  border-bottom: 1px solid #dddddd;
  height: 48px;
  width: 720px;
}
.tab-search .tab-search-box {
  float: left;
  width: 335px;
}
.tab-search .tab-search-box form .tab-search-field {
  float: left;
  padding: 4px 0 6px 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 25px;
  border-radius: 3px;
  color: #a9a9a9;
  font-size: .9em;
  box-shadow: inset 0px 0px 2px rgba(3, 3, 3, 0.2);
  -webkit-box-shadow: inset 0px 0px 2px rgba(3, 3, 3, 0.2);
  -moz-box-shadow: inset 0px 0px 2px rgba(3, 3, 3, 0.2);
}
.tab-search .tab-search-box form .submit {
  float: right;
  height: 37px;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  color: #333333;
  font-size: .9em;
  font-weight: bold;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
  background: -webkit-linear-gradient(#ffffff, #f0f0f0);
  background: -o-linear-gradient(#ffffff, #f0f0f0);
  background: -moz-linear-gradient(#ffffff, #f0f0f0);
  background: linear-gradient(#ffffff, #f0f0f0);
}
.tab-search ul.search-menu {
  float: right;
  height: 25px;
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}
.tab-search ul.search-menu li {
  display: inline;
  padding: 2px;
}
.tab-search ul.search-menu li a:link,
.tab-search ul.search-menu li a:visited {
  color: #4484c2;
  text-decoration: none;
}
.tab-search ul.search-menu li a:hover {
  color: #4484c2;
  text-decoration: underline;
}
.tab-search ul.search-menu li .checked a:link {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.tab-search ul.search-menu li button {
  background: #8bda71;
  background: -moz-linear-gradient(top, #8bda71 0%, #63af4a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #8bda71), color-stop(100%, #63af4a));
  background: -webkit-linear-gradient(top, #8bda71 0%, #63af4a 100%);
  background: -o-linear-gradient(top, #8bda71 0%, #63af4a 100%);
  background: -ms-linear-gradient(top, #8bda71 0%, #63af4a 100%);
  background: linear-gradient(to bottom, #8bda71 0%, #63af4a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bda71', endColorstr='#63af4a', GradientType=0);
  border: 1px solid #5ea847;
  border-radius: 3px;
  color: #ffffff;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  padding: 5px 12px 10px 12px;
}
.tab-search ul.search-menu li button .shadow {
  margin: 0;
  padding: 0;
  text-shadow: 0px -1px #639e50;
}
.tab-search ul.search-menu li button .octicon-repo {
  margin: 0;
  padding: 0;
  text-shadow: 0px -1px #639e50;
}
/*----------------------------Repo Template----*/
.clear {
  clear: both;
}
.repo-tab {
  height: 130px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}
.repo-tab .repo-tab-left {
  float: left;
}
.repo-tab .repo-tab-left h3 {
  color: #4484c2;
  font-size: 1.5em;
  padding: 0;
  margin: 25px 0 10px 0;
}
.repo-tab .repo-tab-left h4 {
  color: #666666;
  font-weight: normal;
  font-size: 1em;
  margin: 0 0 10px 0;
  padding: 0;
}
.repo-tab .repo-tab-left h5 {
  color: #888888;
  font-weight: normal;
  font-size: .9em;
  margin: 0;
  padding: 0;
}
.repo-tab .repo-tab-right {
  float: right;
  color: #888888;
  font-weight: bold;
  font-size: .8em;
}
.repo-tab .repo-tab-right .repo-icons {
  margin: 25px 0 0 0;
  padding: 0;
}
.repo-tab .repo-tab-right .repo-icons li {
  display: inline;
  margin-left: 10px;
}
