<div class="stats">
  <ul>
    <li><span>0</span><p>Followers</p></li>
    <li>
      <span>1</span>
      <p>Starred</p>
    </li>
    <li>
      <span>0</span>
      <p>Following</p>
    </li>
  </ul>
</div>