<div class="user">
  <span><img src="images/sarrah.jpg" alt=""></span>
  <h1>Sarrah Vesselov</h1>
  <h3>SarrahV</h3>
</div>
<div class="user-details">
  <ul>
    <li><span class="octicon octicon-location"></span> Tampa Bay</li>
    <li><span class="octicon octicon-clock"></span> Joined on Sep 10, 2014</li>
  </ul>
</div>

